/* Style for <body> */
body {
    margin: 0px;
    background-color: #051024;
}

/* Font for App */
@font-face {
    font-family: "Scores-Font";
    src: url("scores-font.otf");
}

/* Container */
#container {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
/* Background Image */
img#background {
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* Button */
.button {
    outline: none;
    border: none;

    color: white;
    font: normal 30px 'Verdana';
    border-radius: 10px;

    background: linear-gradient(
        var(--button-color-1), 
        var(--button-first-color), 
        var(--button-color-1)
    ); 
}
.button:hover {
    cursor: pointer;
    background: linear-gradient(
        var(--button-color-2), 
        var(--button-second-color), 
        var(--button-color-2)
    ); 
}

/* Link Styles */
a:link, a:visited {
    color: white;
    text-decoration: none;
}