body {
    margin: 0px;
    overflow: hidden;
    background-color: #051024;
}

@font-face {
    font-family: "Scores-Font";
    src: url("scores-font.otf");
}

:root {
    --logo-height: 140px;
    --basic-color: #7d1433;

    --button-color: #4e0b1f;
    --button-first-color: #af4464;
    --button-second-color: #af4464;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

img#background {
    position: absolute;
    width: 100%;
    z-index: -1;
}

img#logo {
    border: solid #949092 20px;
    width: 300px;

    position: relative;
    left: 40px;
    top: 40px;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 10px 10px 30px #131123;
}

#logo-name {
    width: 980px;
    height: var(--logo-height);

    color: white;
    font: bold 90px 'Caladea';
    text-shadow: -5px -5px 3px var(--basic-color);
    box-shadow: 10px 10px 30px var(--button-color);
    border: solid 20px var(--basic-color);

    text-align: center;
    line-height: var(--logo-height);

    margin-top: -100px;
    margin-left: -70px;

    /* border: solid #7d1433 15px; */
    background: linear-gradient(to right bottom, #949092, #5b5256);
    border-radius: 30px;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    background: linear-gradient(
        to right bottom, white, #9e9b9d
    );
    width: 1200px;
    height: 460px;

    position: absolute;
    top: 220px;
    left: 500px;
    border-radius: 30px;
    box-shadow: 30px 30px 30px #131123;
}

#description {
    width: 40%;
    margin-left: 100px;
    margin-top: 30px;

    font: normal 42px 'Tahoma';
    float: left;
    color: #675b60;
    text-shadow: 1px 1px 0.5px var(--button-color);
    padding: 20px;
    
    border-radius: 30px;
    background-color: #bbbbbb;
    box-shadow: 15px 15px 10px gray;
}

#description div {
    margin-top: 43px;
}

#description p {
    text-shadow: 2px 2px 4px #5b5256;
    font: bold 60px 'Calibri';
    color: var(--button-color);
    text-align: center;

    margin: -10px;
    padding: 0px;

    background-color: #817377;
    outline: solid #7d1433 10px;
    border-radius: 20px;
}

#description span {
    font: bold 45px 'Tahoma';
    color: #6f4451
}

#button-div {
    width: 40%;
    float: left;

    text-align: center;
    padding-top: 40px;
    margin-left: 50px;
}

#button-div img {
    width: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.button {
    outline: none;
    border: none;

    right: 80px;
    bottom: 80px;

    width: 350px;
    height: 70px;

    color: white;
    font: normal 30px 'Verdana';
    border-radius: 10px;
    background: linear-gradient(
        var(--basic-color), 
        var(--button-first-color), 
        var(--basic-color)
    ); 
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(
        var(--button-color), 
        var(--button-second-color), 
        var(--button-color)
    ); 
}