:root {
    /* Custom Mundial Colors */
    --basic-color-custom: #344e38;
    --shadow-color-1-custom: #0d180d;
    --shadow-color-2-custom: #0d180d;
    --logo-border-color-custom: #949092;

    --button-color-1-custom: #195819;
    --button-color-2-custom: #093a09;
    --button-first-color-custom: #40a450;
    --button-second-color-custom: #40a450;

    --gray-color-light-custom: #949092;
    --gray-color-dark-custom: #5b5256;

    /* Colors 2022 */
    --basic-color-2022: #7d1433;
    --shadow-color-1-2022: #4e0b1f;
    --shadow-color-2-2022: #3d0919;
    --logo-border-color-2022: #949092;

    --button-color-1-2022: #7d1433;
    --button-color-2-2022: #4e0b1f;
    --button-first-color-2022: #af4464;
    --button-second-color-2022: #af4464;

    --gray-color-light-2022: #949092;
    --gray-color-dark-2022: #5b5256;
    
    /* Colors 2018 */
    --basic-color-2018: #0c305d;
    --shadow-color-1-2018: #071d37;
    --shadow-color-2-2018: #0b2c54;
    --logo-border-color-2018: #0f407b;

    --button-color-1-2018: #832728;
    --button-color-2-2018: #681f20;
    --button-first-color-2018: #c05d4c;
    --button-second-color-2018: #c05d4c;

    --gray-color-light-2018: #c05d4c;
    --gray-color-dark-2018: #832728;
	
	/* Colors 2014 */
    --basic-color-2014: #346C1F;
    --shadow-color-1-2014: #29621C;
    --shadow-color-2-2014: #1c4313;
    --logo-border-color-2014: #48952c;

    --button-color-1-2014: #864f10;
    --button-color-2-2014: #5b350a;
    --button-first-color-2014: #cdae00;
    --button-second-color-2014: #cdae00;

    --gray-color-light-2014: #FED804;
    --gray-color-dark-2014: #824c0f;
}